<%- include("partials/header"); -%>

<h1>ADMIN</h1>

<form action="/admin" method="GET" class="form-inline">
  <div class="form-group feature">
  <input type="text" name="search" class="form-control" placeholder="Search Blog...">
  <input class="btn btn-secondary feat" type="submit" value="Search">
  </div>
</form>

<% posts.forEach(function(post){ %>

<form action="/delete" method="post">
  <div class="box">
    <h3><%=post.title%></h3>
    <p>
      <%=post.content.substring(0,100) + " ..."%>
      <a href="/posts/<%=post._id%>">Read More</a>
    </p>
    <button type="button" class="btn btn-warning" onclick="location.href='/edits/<%=post._id%>'">Edit</button>
    <button type="submit" name="delete"  class="btn btn-danger"  value="<%= post._id %>"onchange="this.form.submit()">Delete</button>
    <input type="hidden" name="postName" value="<%= post.title %>"></input>
  </div>
</form>

<% }) %>

<%- include("partials/footer"); -%>
