
<%- include("partials/header"); -%>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb post">
    <li class="breadcrumb-item"><a class="footer-link" href="/blog">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page"><%=title%></li>
  </ol>
</nav>

<h1><%=title%></h1>
<div style="white-space: pre-line;">
<p><%=content%></p>
</div>



<%- include("partials/footer"); -%>
